{% extends "base.html" %}

{% block content %}
    <main>
        <form action="/player2choice" method="POST" class="player-choice">
            <input type="radio" id="rock" name="player_2_choice" value="rock"></input>
            <label for="rock">Rock</label>
            <br><br>
            <input type="radio" id="paper" name="player_2_choice" value="paper"></input>
            <label for="paper">Paper</label>
            <br><br>
            <input type="radio" id="scissors" name="player_2_choice" value="scissors"></input>
            <label for="scissors">Scissors</label>
            <br><br>
            <input type="submit" class="submit">
        </form>
    </main>
{% endblock %}